// light
$color-bg_light: #F8F8F8;
$color-settings_light: white;
$color-main_light: #1FA2DE;
$color-gray_light: #919191;
$color-icon_bg_light: #E6F4FB;
$color-popup-main_light: #252525;
$color-btn: linear-gradient(180deg, #4DB5E4 0%, #0095D9 100%);
$color-overlay_light: rgba(0, 0, 0, 0.3);

// dark
$color-bg_dark: #2D2D2D;
$color-settings_dark: #252525;
$color-main_dark: #31BEFF;
$color-gray_dark: #919191;
$color-icon_bg_dark: #404040;
$color-icon_dark: #767676;
$color-popup-main_dark: #252525;
$color-overlay_dark: rgba(255, 255, 255, 0.3);